# Factory specific init.rc

on early-init
    mount debugfs /sys/kernel/debug /sys/kernel/debug

on init
    export PATH /product/bin:/apex/com.android.runtime/bin:/apex/com.android.art/bin:/system_ext/bin:/system/bin:/system/xbin:/odm/bin:/vendor/bin:/vendor/xbin:/vendor/bin/factory

on boot
    # FTM log folder
    mkdir /data/ftmlog 0775 system system

    # Audio test folder
    mkdir /data/AudioTest 0775 system system

on property:sys.boot_completed=1
    # Bump nnapi min clamp & add adbd to it for factory (b/222226268)
    write /proc/vendor_sched/nnapi_uclamp_min 512
    exec - root root -- /vendor/bin/factory/factory_post_boot
