on property:sys.boot_completed=1 && property:ro.boot.bootreason=reboot,ocp
    copy data/vendor/mitigation/thismeal.txt data/vendor/mitigation/lastmeal.txt

on property:sys.boot_completed=1 && property:ro.boot.bootreason=reboot,uvlo,pmic,if
    copy data/vendor/mitigation/thismeal.txt data/vendor/mitigation/lastmeal.txt

on property:sys.boot_completed=1 && property:ro.boot.bootreason=reboot,uvlo,pmic,main
    copy data/vendor/mitigation/thismeal.txt data/vendor/mitigation/lastmeal.txt

on property:sys.boot_completed=1 && property:ro.boot.bootreason=reboot,uvlo,pmic,sub
    copy data/vendor/mitigation/thismeal.txt data/vendor/mitigation/lastmeal.txt

on property:vendor.thermal.link_ready=1
    mkdir /data/vendor/mitigation 0755 system system
    chown system system /data/vendor/mitigation
    start vendor.battery_mitigation

service vendor.battery_mitigation /vendor/bin/hw/battery_mitigation
    user system
    group system
    capabilities WAKE_ALARM BLOCK_SUSPEND
